[submodule "themes/kiera-ssmiller25"]
	path = themes/kiera-ssmiller25
	url = https://github.com/ssmiller25/hugo-kiera.git
[submodule "themes/papercss-hugo-theme"]
	path = themes/papercss-hugo-theme
	url = https://github.com/zwbetz-gh/papercss-hugo-theme.git
